.responsive {
    align-items: center;
}

.todo-card {
    background-color: #8b6fff;
    color: #fff;
    border-radius: 0 10px 10px 0 !important;
    height: fit-content;

    .progress-circle {
        font-size: 15px;
        text-align: center;
    }
    .card-text {
        display: initial;
        padding: 0;
    }
    .card-content {
        margin: 0;
        padding-top: 10px;
        text-align: center;
    }
}

.steps-card {
    padding-top: 2px;
    background-color: #8b6fff !important;
    border-radius: 0 10px 10px 0 !important;
    .steps-card-content {
        padding: 4px 16px;
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        .title {
            display: flex;
            justify-content: space-between;
            padding-right: 0;
        }
        .subtitle {
            white-space: pre-wrap;
        }
        .steps-list {
            padding: 0;
            padding-inline-start: 0 !important;
            padding-inline-end: 0 !important;

            .completed-step {
                text-decoration: line-through;
                font-weight: 300;
            }
            .check-icon {
                color: #8b6fff;
            }
            .go-btn {
                border-color: #8b6fff;
                color: #8b6fff;
                width: 20px;
                height: 35px;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .responsive {
        justify-content: flex-end;
    }
    .todo-card {
        border-radius: 10px 0 0 10px !important;
        height: fit-content;
    }
    .steps-menu {
        position: fixed;
        top: 27em;
        .steps-card {
            border-radius: 10px 10px 0 0 !important;
            .steps-card-content {
                border-radius: 10px 10px 0 0;
            }
        }
    }
}
